@using BOL
@{
    ViewBag.Title = "AddToCart";
}

<h2>Shopping Cart </h2>
<hr/>
<h3>Add to Cart</h3>
@{
    Product theProductInterested = (Product)Model;
    <p> Product ID =@theProductInterested.Title</p>
    <hr />

    <form method="post">
        <input type="text" name="id" value="@theProductInterested.ID" />
        <input type="text" name="title" value="@theProductInterested.Title" />
        Enter Quantity
        <input type="text" name="quantity" /><br/><br/>

        <button type="submit">Add To Cart</button>
    </form>
}

