
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
   User Name <input type="text" name="username"/>
   Password <input type="password" name="password"/>
    <button type="submit">Login</button>
</form>
<a href="/accounts/register">Register</a>

