
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post">
    First Name <input type="text" name="firstname" />
    Last Name <input type="text" name="lastname" />
    Age <input type="text" name="age" />
    Email <input type="text" name="email" />
    Contact Number <input type="text" name="contactnumber" />
    Location <input type="text" name="location" />
    <button type="submit">Register</button>
</form>
